//Created by jiangyulin on 14-1-24.
extends ../layout/layout_desktop
block content
    #main
        #data_container
            div.item
                image(src='/data/53677cb4b7288c0323000017')
        #personal_operate
            div.custom-input
                span 添加图片
                form(name='upload', enctype="multipart/form-data", method="post")
                    input#addphoto(type='file', name='photo')
                    input#travelID(type='hidden',value= "#{travelID}")
    script(src="/javascripts/travel_edit.js", type="text/javascript")