//Created by jiangyulin on 14-5-10.
extends ../layout/layout_desktop
block content
    #main
        #data_container
            div.travel-img-container
                img.travel-img(src="/data/536b1c09ff7db4d514000015")
                div.travel-img-describe
                    p 描述的文字在飞机上呼呼大睡，快到了终于能看见马耳他这个在地中海上的黄土小国。下飞机之后一场雷阵雨彻底浇灭了我的激情，带了一箱夏天纱纱裙子的我该怎么办
                div.travel-img-container-detail
                    p
