//Created by jiangyulin on 14-5-28.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/desktop.css')
        script(src='/javascripts/jquery.js',type='text/javascript' )
        script(type='text/javascript', src='/javascripts/global.js')
        meta(charset='utf-8')
    body
        #container
            .big_page
                div.not_found
                        div.code 404
                        div.des_code not found
