//Created by jiangyulin on 14-3-4.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/desktop.css')
        script(src='/javascripts/jquery.js',type='text/javascript' )
        script(type='text/javascript', src='/javascripts/global.js')
        meta(charset='utf-8')
    body
        #background
        #nav
            ul.nav-container
                li.nav-item
                    a 热门旅程
                li.nav-item
                    a(href="/travel/list") 我的旅程
                li.nav-item
                    a(href="/user/profile") 关于我
                li.nav-item
                    a 随便逛逛

        #container
            block content
        //#footer
            ul
                li @版权所有
