//Created by jiangyulin on 14-3-4.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/desktop.css')
        script(src='/javascripts/jquery.js',type='text/javascript' )
        script(type='text/javascript', src='/javascripts/global.js')
        meta(charset='utf-8')
    body
        #nav

        #container
            block content
        #footer
            ul
                li @版权所有
